<!DOCTYPE html>
<html>
  <head>
    <title>J1 Practice</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      .formfield {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <p>
      Player placement group
      <a
        href="https://cemc.uwaterloo.ca/contests/computing/2016/stage%201/juniorEn.pdf"
        >from the J1 problem hosted by the CCC.</a
      >
    </p>
    <div id="app2">
      <table style="width:50%">
        <thead>
          <th>Game number</th>
          <th>Win</th>
          <th>Lost</th>
        </thead>
        <tbody>
          <tr v-for="game in games" class="formfield" style="text-align:center ;">
            <td>{{game.number}}</td>
            <td>
              <input
                type="radio"
                v-bind:name="game.number"
                value="win"
                v-model="game.result"
              />
            </td>
            <td>
              <input
                type="radio"
                v-bind:name="game.number"
                value="lost"
                v-model="game.result"
              />
            </td>
          </tr>
        </tbody>
      </table>

      <div id="result">
        <div v-if="totalWins">Number of wins: {{totalWins}}</div>
        <h3>The player current status is: <span>{{result}}</span></h3>
      </div>
    </div>

    <script>
      var app = new Vue({
        el: "#app2",
        data: {
          games: [
            { number: 1, result: "lost" },
            { number: 2, result: "lost" },
            { number: 3, result: "lost" },
            { number: 4, result: "lost" },
            { number: 5, result: "lost" },
            { number: 6, result: "lost" },
          ],
        },
        computed: {
          totalWins: function () {
            let counter = 0;
            this.games.forEach((game) => {
              if (game.result === "win") counter++;
            });
            return counter;
          },
          group: function () {
            let counter = this.totalWins;
            let group;
            if (counter >= 5) {
              group = 1;
            } else if (counter >= 3) {
              group = 2;
            } else if (counter >= 1) {
              group = 3;
            } else {
              group = -1;
            }

            return group;
          },
          result: function () {
            switch (this.group) {
              case -1:
                return "Eliminated";
              default:
                return "Placed in group " + this.group;
            }
          },
        },
      });
    </script>
    <!--Problem J1: Tournament Selection
		Problem Description
		Each player in a tournament plays six games. There are no ties. The tournament director places
		the players in groups based on the results of games as follows:
		• if a player wins 5 or 6 games, they are placed in Group 1;
		• if a player wins 3 or 4 games, they are placed in Group 2;
		• if a player wins 1 or 2 games, they are placed in Group 3;
		• if a player does not win any games, they are eliminated from the tournament.
		Write a program to determine which group a player is placed in.
		Input Specification
		The input consists of six lines, each with one of two possible letters: W (to indicate a win) or L (to
		indicate a loss).
		Output Specification
		The output will be either 1, 2, 3 (to indicate which Group the player should be placed in) or -1
		(to indicate the player has been eliminated).-->

    <!--
		v-model will allow you to quickly bind form elements to the data property.
		Make sure to set a default value!
		The Computed property can be used like data, except for values that are calculated from data properties.
		In this example 'treat_total' is computed from data properties, and 'is_happy' is computed from 'treat_total'.
		
		ASYNCHRONOUS LEARNING EXERCISE : J1
		- Find any J1 problem
		- Imagine an interface that allows the user to enter data on the webpage
		- Build using v-model and computed properties!
	
	-->
  </body>
</html>
